:root {
	--color-xword: #81fef2;
	--color-subject: #f7f771;
	--color-verbs: #ffe6ff;
	--color-verbs-hidden-xwords: #e0ffff;
	--color-trunks: #ffe6af;
	--color-shifters: #c5f7b7;
	--color-linkers: #ffae42;
	--color-extra-info: #fc68fc;
	--color-infinitives: #00edba;
}

.xw, .xword {
	border: 2px solid var(--color-xword) !important;
	border-radius: 4px;
	background: var(--color-xword);
}

.subject {
	border: 2px solid var(--color-subject);
	border-radius: 4px;
	background-color: var(--color-subject);
}

.verb {
	border: 2px solid var(--color-verbs);
	background-color: var(--color-verbs);
	border-radius: 4px;
}

.verbs-with-hidden-xword{
	border: 2px solid var(--color-verbs-hidden-xwords) !important;
	border-radius: 4px;
	background: var(--color-verbs-hidden-xwords);
}

.xw-hidden,
.xword-hidden {
	border: 2px solid #000;
}

.infinitive {
	border: 2px solid var(--color-infinitives);
	border-radius: 50%;
	/* background: var(--color-infinitives); */
}
.trunk {
	background: var(--color-trunks);
}
.linker {
	background: var(--color-linkers);
}
.extra-information {
	background: var(--color-extra-info);
}
.shifter-time,
.shifter-place,
.shifter-reason,
.shifter-condition,
.shifter-contrast {
	background: var(--color-shifters);
}
