body {
	background-color: #FFFFFF;
}
.main.container {
	margin-top: 2em;
}

.main.menu {
	margin-top: 4em;
	border-radius: 0;
	border: none;
	box-shadow: none;
	transition:
		box-shadow 0.5s ease,
		padding 0.5s ease
	;
}
.main.menu .item img.logo {
	margin-right: 1.5em;
}
img.button.compact {
	width: 160px;
}

.overlay {
	float: left;
	margin: 0em 3em 1em 0em;
}
.overlay .menu {
	position: relative;
	left: 0;
	transition: left 0.5s ease;
}

.main.menu.fixed {
	background-color: #FFFFFF;
	border: 1px solid #DDD;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
.overlay.fixed .menu {
	left: 800px;
}

.text.container .left.floated.image {
	margin: 2em 2em 2em -4em;
}
.text.container .right.floated.image {
	margin: 2em -4em 2em 2em;
}

.ui.footer.segment {
	margin: 5em 0em 0em;
	padding: 5em 0em;
}

.main-column {
	margin-top: 2em;
}

.ui.card > .image > img, .ui.cards > .card > .image > img {
	max-height: 200px;
	object-fit: cover;
}

.item.divider {
	padding: 0 !important;
}

.x-words-content {
	font-size: 1em;
}

/* For articles/exercises */
.main.menu { margin-top: 0; }
.main.container { margin-top: 0; }
#article-image {
	width: 700px;
	height: 300px;
}

.title-in-text {
	font-style: italic;
}
.inline-quote {
	display: inline;
	font-style: italic;
}

/* Overrides: */
.ui.red.button:hover,
.ui.red.buttons .button:hover,
.ui.red.button,
.ui.red.buttons .button {
	background-color: #8c48b0;
	color: #fff;
	text-shadow: none;
}
