:root {
	--color-xword: #81fef2;
	--color-subject: #f7f771;
	--color-verbs: #ffe6ff;
	--color-verbs-hidden-xwords: #e0ffff;
	--color-trunks: #ffe6af;
	--color-shifters: #c5f7b7;
	--color-linkers: #ffae42;
	--color-extra-info: #fc68fc;
	--color-infinitives: #00edba;
}

.xw, .xword {}
.xw-found, .xword-found {
	border: 2px solid var(--color-xword) !important;
	border-radius: 4px;
	background: var(--color-xword);
}
.xw-paragraph-summary,
.xword-paragraph-summary,
.verbs-paragraph-summary,
.subject-paragraph-summary,
.xw-hidden-paragraph-summary,
.xword-hidden-paragraph-summary,
.infinitive-paragraph-summary,
.trunks-paragraph-summary,
.linkers-paragraph-summary,
.extra-information-paragraph-summary,
.shifter-time-paragraph-summary,
.shifter-place-paragraph-summary,
.shifter-reason-paragraph-summary,
.shifter-condition-paragraph-summary,
.shifter-contrast-paragraph-summary,
.verbs-with-hidden-xword-paragraph-summary {
	color: #AAA;
	font-size: 60%;
	position: relative;
	top: -8px;
}

.subject {}
.subject-found {
	border: 2px solid var(--color-subject);
	border-radius: 4px;
	background-color: var(--color-subject);
}

.verb {}
.verb-found {
	border: 2px solid var(--color-verbs);
	background-color: var(--color-verbs);
	border-radius: 4px;
}

.verbs-with-hidden-xword-found {
	border: 2px solid var(--color-verbs-hidden-xwords) !important;
	border-radius: 4px;
	background: var(--color-verbs-hidden-xwords);
}

.xw-hidden,
.xword-hidden {
	
}
.xw-hidden-found,
.xword-hidden-found {
	border: 2px solid #000;
}

.infinitive {
}
.infinitive-found {
	border: 2px solid var(--color-infinitives);
	border-radius: 50%;
	/* background: var(--color-infinitives); */
}
.trunk-found {
	background: var(--color-trunks);
}
.linker-found {
	background: var(--color-linkers);
}
.extra-information-found {
	background: var(--color-extra-info);
}
.shifter-time-found,
.shifter-place-found,
.shifter-reason-found,
.shifter-condition-found,
.shifter-contrast-found {
	background: var(--color-shifters);
}


.xw-drag-sentence {
	display: block;
}
.xw-drag-word, .xw-drag-word-end {
	display: inline-block;
	min-width: 5em;
	border: 2px solid #E5BE85;
	background: #FFD495;
	line-height: 1em;
	height: 2.2em;
	margin: 0.2em;
	padding: 0.5em;
	text-align: center;
	vertical-align: middle;
	border-radius: 4px;
}
.xw-drag-word-end {
}
