.xw {
	border-bottom: 1px dashed #0FF;
}
.xw-found {
	border: 2px solid #080 !important;
	border-radius: 4px;
	background: #0F0;
}
.xw-paragraph-summary, .verbs-paragraph-summary, .subject-paragraph-summary, .xw-hidden-paragraph-summary {
	color: #AAA;
	font-size: 60%;
	position: relative;
	top: -8px;
}


.subject {
	border-bottom: 1px dashed #0F0;
}
.subject-found {
	border: 2px solid #0F0;
}

.verb {
	border-bottom: 1px dashed #F00;
}
.verb-found {
	border: 2px solid #F00;
}

.xw-hidden {
	border-bottom: 1px dashed #000;
}
.xw-hidden-found {
	border: 2px solid #000;
}
