.xw, .xword {}
.xw-found, .xword-found {
	border: 2px solid #080 !important;
	border-radius: 4px;
	background: #0F0;
}
.xw-paragraph-summary,
.xword-paragraph-summary,
.verbs-paragraph-summary,
.subject-paragraph-summary,
.xw-hidden-paragraph-summary,
.xword-hidden-paragraph-summary,
.infinitive-paragraph-summary,
.trunks-paragraph-summary,
.linkers-paragraph-summary,
.extra-information-paragraph-summary,
.shifter-time-paragraph-summary,
.shifter-place-paragraph-summary,
.shifter-reason-paragraph-summary,
.shifter-condition-paragraph-summary,
.shifter-contrast-paragraph-summary {
	color: #AAA;
	font-size: 60%;
	position: relative;
	top: -8px;
}

.subject {}
.subject-found {
	border: 2px solid #0F0;
}

.verb {}
.verb-found {
	border: 2px solid #F00;
}

.xw-hidden,
.xword-hidden {
	
}
.xw-hidden-found,
.xword-hidden-found {
	border: 2px solid #000;
}

.infinitive {
}
.infinitive-found {
	border: 2px solid #000;
	border-radius: 50%;
}
.trunk-found {
	background: #F8F;
}
.linker-found {
	background: #F8F;
}
.extra-information-found {
	background: #F8F;
}
.shifter-time-found,
.shifter-place-found,
.shifter-reason-found,
.shifter-condition-found,
.shifter-contrast-found {
	background: #F8F;
}


.xw-drag-sentence {
	display: block;
}
.xw-drag-word, .xw-drag-word-end {
	display: inline-block;
	min-width: 5em;
	border: 2px solid #E5BE85;
	background: #FFD495;
	line-height: 1em;
	height: 2.2em;
	margin: 0.2em;
	padding: 0.5em;
	text-align: center;
	vertical-align: middle;
	border-radius: 4px;
}
.xw-drag-word-end {
}
